# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
LICENSE-Paulscode SoundSystem CodecIBXM.txt
LICENSE-Paulscode IBXM Library.txt
CREDITS.txt
LICENSE.txt
lib/SausageCore-1.2-api.jar
